@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Roboto:wght@300&display=swap');

/*--------------------Navbar*/
.navbar{
    background-color: #1b1b1b;
    color: #f57c00;
    font-family: 'Chakra Petch', sans-serif;
    margin-bottom: 0;
    padding-left: 25px;
    text-transform: uppercase;
}

.nav-link{
    color: #f57c00;
}

.nav-link:hover{
    color: #6d6d6d;
}

.navbar-toggler-icon{
    background-color: #f57c00;
    border-radius: 15%;
}

.fa-bars{
    margin-top: 5px;
    color: #424242;
}

#logo{
    width: 40px;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
}


/*-------------------- Image carousel*/

#carousel-header{
    background-color: #1b1b1b;
}


/*-------------------- Main section Index*/
.main{
    background-color: #6d6d6d;  
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.main-second{
    background-color: #585858;
}

h1{
    font-family: 'Chakra Petch', sans-serif;
    color: #f57c00;
}

h3{
    font-family: 'Chakra Petch', sans-serif;
    color: #ffad42;
}

p{
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
}

.uppercase{
    text-transform: uppercase;
}

.container{
    background-color: #6d6d6d;
}

.container img{
    max-height: 400px;
    width: auto;
    background-color: #6d6d6d;
}

.babes{
    text-align: right;
    padding-top: 30px;
    padding-right: 30px;
}

.babes a{
    text-decoration: none;
    color: #ffad42;
}

.babes a:hover{
    color: #f57c00;
}

/*-------------------- Main section Workshop*/


.main-workshop{    
    background: url(/assets/images/service-bw.jpg) no-repeat bottom left fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.workshop{
    text-align: left;
    margin-left: 30px;
    padding-top: 30px;
}

.list{
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
}    

.opaque-overlay{
    position: absolute;
    bottom:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.workshop i{
    padding-left: 10px;
}


/*-------------------- Main section History*/

#history-row{
    background-color: #585858;
    margin-right: 30px;   
}

.history{
    text-align: left;
    margin-left: 30px;
}

/*-------------------- Main section Map*/
.main-map { 
    padding-left: 30px;    
    text-align: left;
}


/*--------------------Main section Motorcycle*/

.motor{
    text-align: left;
    margin-left: 30px;
    padding-top: 30px;
}

.motor i{
    padding-left: 10px;
}

.motor a{
    text-decoration: none;
    color: #ffad42;
 }

.motor a:hover{
    color: #f57c00;
}

#motor-row{
    background-color: #6d6d6d;
   
}

/*--------------------Main section Resell*/



/*--------------------Email form*/

.contact i{
    padding-left: 10px;
}

.email-form{
    margin-top: 50px;
    color: #ffad42;
    max-width: 480px;
    left: 10%;
    padding: 30px;
    background-color: rgba(27, 27, 27, 0.7);
    border-radius: 25px;
    margin: auto;
    font-family: 'Chakra Petch', sans-serif;
    text-align: left;
}

.text-input{
    background: transparent;
    background-color: #424242;
    color: #fafafa;
    border: 3px solid #ffad42;
    border-radius: 9px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
    height: 35px;
}

#message{
    height: 150px;
}

.text-input:hover{
    border-color: #f57c00;
}

.send-button{
    margin-top: 30px;
    border-radius: 9px;
    padding: 7px 30px;
    color: #ffad42;
    background-color: #424242;
    border: 3px solid #ffad42;
    text-align: center;
}

.send-button:hover{
    color: #424242;
    background-color: #ffad42;
    border: 3px solid #f57c00;
}

#button-holder{
    text-align: center;
    margin: auto;
    display: flex;
}



/*--------------------Footer*/

footer{
    background-color: #424242; 
    color: #f57c00;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 15px;
    padding-top: 10px;
}

footer a{
    text-decoration: none;
}

footer a i{
    color: #f57c00;
    float: right;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 25px;
}

 footer h6{
    text-decoration: underline;
    margin-bottom: 0;
    text-transform: uppercase;
 }

 footer p{
    margin-bottom: 0;
    color: #f57c00;
 }

#footer-row{ 
   background-color: #424242; 
}



    
 