@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Roboto:wght@300&display=swap');

/*--------------------Navbar*/
.navbar{
    background-color: #1b1b1b;
    color: #f57c00;
    font-family: 'Chakra Petch', sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
}

.nav-link{
    color: #f57c00;
}

.navbar-toggler-icon{
    background-color: #f57c00;
    border-radius: 15%;
}

.fa-bars{
    margin-top: 5px;
    color: #424242;
}


/*-------------------- Welcome*/
.main{
    background-color: #6d6d6d;  
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;

}

.main_second{
    background-color: #585858;
}

h1{
    font-family: 'Chakra Petch', sans-serif;
    color: #fafafa;
}

p{
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
}


/*--------------------Footer*/
footer{
    background-color: #424242; 
    color: #f57c00;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 15px;
    padding-top: 10px;
}

footer a{
    text-decoration: none;
}

footer a i{
    color: #f57c00;
    float: right;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 25px;
}
 footer h6{
     text-decoration: underline;
     margin-bottom: 0;
     text-transform: uppercase;
 }

 footer p{
     margin-bottom: 0;
     color: #f57c00;
 }

 .container{
    margin: 0;
    background-color: #424242;
 }

 
 